<!doctype html>
<html lang="ja" class="uk-height-1-1">
<head>
<title>走った記録</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{{ url_for('static', filename='uikit-icons.min.js') }}"></script>
<script src="{{ url_for('static', filename='uikit.min.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='uikit.gradient.min.css') }}">
</head>
<body class="uk-height-1-1">
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
  <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="layouts_frontpage.html">RR</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li class="uk-active">
                        <a href="{{ url_for('index') }}">トップページ</a>
                    </li>
                    <li>
                        <a href="{{ url_for('login') }}">Login</a>
                    </li>
                </ul>
                <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Brand</div>
    </nav>
 </div>
{% block body %}{% endblock %}
</html>
